@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Madimi+One&family=Press+Start+2P&family=Rakkas&display=swap');


body {
    font-family: Arial, sans-serif;
    margin: 100;
    padding: 200;
    color: rgb(0, 0, 0);
    text-align: center;
    background-image: url('livro.png');
    margin-bottom:500px;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: normal;
}

header {
    background-color: #04b7e46c;
    padding: 20px;
    text-align: center;
    font-family: "Comic Neue", cursive;
    font-weight: 700;
    font-style: normal;

}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

section h2 {
    font-size: 24px;
}

section p {
    font-size: 18px;
    line-height: 1.5;
}

.image-gallery {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.image-gallery img {
    width: 200px;
    height: auto;
    border: 2px solid white;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.image-gallery img:hover {
    transform: scale(1.1);
}

footer {
    background-color: #04b7e444;
    padding: 10px;
    text-align: center;
}

footer p {
    margin: 0;
}

.share-buttons {
    margin-top: 20px;
}

.share-btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
} 

.rotate {
    animation: rotate 2s linear infinite;
  }

@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

   .scale {
    animation: scale 2s ease-in-out infinite alternate;
  }
 
  @keyframes scale {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.2);
    }
  }
  
 .fade {
    animation: fade 3s linear infinite;
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  